* {
	padding : 0;
	margin  : 0;
}

body {
	background-color : #eef;
}

div.container {
	margin      : 100px auto;
	width       : 400px;
}

section {
	position      : relative;
	width         : 263px;
	height        : 90px;
	margin        : 0 auto;
	font-family   : ebrima;
	background-color : #eee;
	border-style: solid;
	border-width: 10px 10px 10px 10px;
	border-image: url('border.png') 10 10 10 10 fill;
}

section h1 {
	text-align     : center;
	text-transform : capitalize;
	background-color : #ccc;
}

form {
	display       :  block;
	height        : 30px;
	margin        : 10px 10px;
}

input {
	display    : inline-block;
	height     : 30px;
	border     : 0;
	border-radius : 5px;
}

input.mail {
	width : 160px;
	padding-left : 10px;
	border : 1px solid #ccc;
	box-shadow : inset 0 0 3px 2px #eee;
}

input.btn {
	width  : 66px;
	color  : #fff;
	cursor : pointer;
	border : 1px solid #aaf;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(169,223,255,1) 3%, rgba(157,216,255,1) 7%, rgba(159,213,251,1) 11%, rgba(155,214,254,1) 14%, rgba(155,214,254,1) 18%, rgba(152,210,247,1) 21%, rgba(145,210,250,1) 25%, rgba(142,207,247,1) 32%, rgba(103,191,231,1) 75%, rgba(87,183,223,1) 96%, rgba(87,183,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(3%,rgba(169,223,255,1)), color-stop(7%,rgba(157,216,255,1)), color-stop(11%,rgba(159,213,251,1)), color-stop(14%,rgba(155,214,254,1)), color-stop(18%,rgba(155,214,254,1)), color-stop(21%,rgba(152,210,247,1)), color-stop(25%,rgba(145,210,250,1)), color-stop(32%,rgba(142,207,247,1)), color-stop(75%,rgba(103,191,231,1)), color-stop(96%,rgba(87,183,223,1)), color-stop(100%,rgba(87,183,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#57b7df',GradientType=0 ); /* IE6-9 */
}

input.btn:hover {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,1) 0%, rgba(169,223,255,1) 3%, rgba(157,216,255,1) 7%, rgba(159,213,251,1) 11%, rgba(155,214,254,1) 14%, rgba(155,214,254,1) 18%, rgba(152,210,247,1) 21%, rgba(145,210,250,1) 25%, rgba(142,207,247,1) 32%, rgba(103,191,231,1) 75%, rgba(87,183,223,1) 96%, rgba(87,183,223,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(3%,rgba(169,223,255,1)), color-stop(7%,rgba(157,216,255,1)), color-stop(11%,rgba(159,213,251,1)), color-stop(14%,rgba(155,214,254,1)), color-stop(18%,rgba(155,214,254,1)), color-stop(21%,rgba(152,210,247,1)), color-stop(25%,rgba(145,210,250,1)), color-stop(32%,rgba(142,207,247,1)), color-stop(75%,rgba(103,191,231,1)), color-stop(96%,rgba(87,183,223,1)), color-stop(100%,rgba(87,183,223,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* IE10+ */
	background: linear-gradient(135deg,  rgba(255,255,255,1) 0%,rgba(169,223,255,1) 3%,rgba(157,216,255,1) 7%,rgba(159,213,251,1) 11%,rgba(155,214,254,1) 14%,rgba(155,214,254,1) 18%,rgba(152,210,247,1) 21%,rgba(145,210,250,1) 25%,rgba(142,207,247,1) 32%,rgba(103,191,231,1) 75%,rgba(87,183,223,1) 96%,rgba(87,183,223,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#57b7df',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

::-webkit-input-placeholder {
   color          : #e0ded7;
}

:-moz-placeholder {  
   color          : #e0ded7;
}